openapi: 3.1.0
info:
  description: "Modern Docker Management, Designed for Everyone"
  title: Arcane API
  version: 1.11.2
servers:
- url: https://arcane.privaterelay.xyz/api
paths:
  /api-keys:
    get:
      description: Get a paginated list of API keys
      operationId: list-api-keys
      parameters:
      - description: Search query for filtering by name or description
        explode: false
        in: query
        name: search
        required: false
        schema:
          description: Search query for filtering by name or description
          type: string
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: sort
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction (asc or desc)
        explode: false
        in: query
        name: order
        required: false
        schema:
          default: asc
          description: Sort direction (asc or desc)
          type: string
        style: form
      - description: Start index for pagination
        explode: false
        in: query
        name: start
        required: false
        schema:
          default: 0
          description: Start index for pagination
          format: int64
          type: integer
        style: form
      - description: Number of items per page
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Number of items per page
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List API keys
      tags:
      - API Keys
    post:
      description: Create a new API key for programmatic access
      operationId: create-api-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApikeyCreateApiKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseApiKeyCreatedDto'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create an API key
      tags:
      - API Keys
  /api-keys/{id}:
    delete:
      description: Delete an API key by ID
      operationId: delete-api-key
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: API key ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete an API key
      tags:
      - API Keys
    get:
      description: Get details of a specific API key by ID
      operationId: get-api-key
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: API key ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseApiKey'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get an API key
      tags:
      - API Keys
    put:
      description: Update an existing API key's details
      operationId: update-api-key
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: API key ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApikeyUpdateApiKey'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseApiKey'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update an API key
      tags:
      - API Keys
  /app-images/favicon:
    get:
      description: Get the application favicon image
      operationId: get-favicon
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get application favicon
      tags:
      - Application Images
  /app-images/logo:
    get:
      description: Get the application logo image
      operationId: get-logo
      parameters:
      - description: Return full logo instead of icon
        explode: false
        in: query
        name: full
        required: false
        schema:
          default: false
          description: Return full logo instead of icon
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get application logo
      tags:
      - Application Images
  /app-images/logo-email:
    get:
      description: Get the application logo image in PNG format for emails
      operationId: get-logo-email
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get application logo for email
      tags:
      - Application Images
  /app-images/profile:
    get:
      description: Get the default user profile image
      operationId: get-default-profile
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Cache-Control:
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get default profile image
      tags:
      - Application Images
  /app-version:
    get:
      description: Get the current application version
      operationId: getAppVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get app version
      tags:
      - Version
  /auth/login:
    post:
      description: Authenticate a user with username and password
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLogin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseLoginResponse'
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                description: Session cookie
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Login
      tags:
      - Auth
  /auth/logout:
    post:
      description: Clear authentication session
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                description: Cleared session cookie
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Logout
      tags:
      - Auth
  /auth/me:
    get:
      description: Get the currently authenticated user's information
      operationId: get-current-user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseUser'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get current user
      tags:
      - Auth
  /auth/password:
    post:
      description: Change the current user's password
      operationId: change-password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthPasswordChange'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Change password
      tags:
      - Auth
  /auth/refresh:
    post:
      description: Obtain a new access token using a refresh token
      operationId: refresh-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRefresh'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseTokenRefreshResponse'
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                description: Updated session cookie
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Refresh token
      tags:
      - Auth
  /container-registries:
    get:
      description: Get a paginated list of container registries
      operationId: listContainerRegistries
      parameters:
      - description: Page number
        explode: false
        in: query
        name: "pagination[page]"
        required: false
        schema:
          default: 1
          description: Page number
          format: int64
          type: integer
        style: form
      - description: Items per page
        explode: false
        in: query
        name: "pagination[limit]"
        required: false
        schema:
          default: 20
          description: Items per page
          format: int64
          type: integer
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: "sort[column]"
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction
        explode: false
        in: query
        name: "sort[direction]"
        required: false
        schema:
          default: asc
          description: Sort direction
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRegistryPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List container registries
      tags:
      - Container Registries
    post:
      description: Create a new container registry
      operationId: createContainerRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContainerRegistryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseContainerRegistry'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create a container registry
      tags:
      - Container Registries
  /container-registries/sync:
    post:
      description: Sync container registries from a remote source
      operationId: syncContainerRegistries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerregistrySyncRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Sync container registries
      tags:
      - Container Registries
  /container-registries/{id}:
    delete:
      description: Delete a container registry by ID
      operationId: deleteContainerRegistry
      parameters:
      - description: Registry ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Registry ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete a container registry
      tags:
      - Container Registries
    get:
      description: Get a container registry by ID
      operationId: getContainerRegistry
      parameters:
      - description: Registry ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Registry ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseContainerRegistry'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get a container registry
      tags:
      - Container Registries
    put:
      description: Update an existing container registry
      operationId: updateContainerRegistry
      parameters:
      - description: Registry ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Registry ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContainerRegistryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseContainerRegistry'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update a container registry
      tags:
      - Container Registries
  /container-registries/{id}/test:
    post:
      description: Test connectivity and authentication to a container registry
      operationId: testContainerRegistry
      parameters:
      - description: Registry ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Registry ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Test a container registry
      tags:
      - Container Registries
  /customize/categories:
    get:
      description: Get all available customization categories with metadata
      operationId: get-customize-categories
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryCategory'
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get customization categories
      tags:
      - Customize
  /customize/search:
    post:
      description: Search customization categories and options by query
      operationId: search-customize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Search customization options
      tags:
      - Customize
  /environments:
    get:
      description: Get a paginated list of Docker environments
      operationId: listEnvironments
      parameters:
      - description: Search query for filtering by name or API URL
        explode: false
        in: query
        name: search
        required: false
        schema:
          description: Search query for filtering by name or API URL
          type: string
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: sort
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction (asc or desc)
        explode: false
        in: query
        name: order
        required: false
        schema:
          default: asc
          description: Sort direction (asc or desc)
          type: string
        style: form
      - description: Start index for pagination
        explode: false
        in: query
        name: start
        required: false
        schema:
          default: 0
          description: Start index for pagination
          format: int64
          type: integer
        style: form
      - description: Items per page
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Items per page
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List environments
      tags:
      - Environments
    post:
      description: Create a new Docker environment
      operationId: createEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseEnvironmentWithApiKey'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create an environment
      tags:
      - Environments
  /environments/pair:
    post:
      description: Agent sends API key to complete environment pairing
      operationId: pairEnvironment
      parameters:
      - description: API key for environment pairing
        explode: false
        in: header
        name: X-API-Key
        required: false
        schema:
          description: API key for environment pairing
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Pair agent with manager
      tags:
      - Environments
  /environments/{id}:
    delete:
      description: Delete a Arcane environment
      operationId: deleteEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete an environment
      tags:
      - Environments
    get:
      description: Get a Docker environment by ID
      operationId: getEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseEnvironment'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get an environment
      tags:
      - Environments
    put:
      description: Update a Docker environment
      operationId: updateEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseEnvironment'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update an environment
      tags:
      - Environments
  /environments/{id}/agent/pair:
    post:
      description: Generate or rotate the local agent pairing token
      operationId: pairAgent
      parameters:
      - description: Environment ID (must be 0 for local)
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID (must be 0 for local)
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentAgentPairRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseAgentPairResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Pair with local agent
      tags:
      - Environments
  /environments/{id}/containers:
    get:
      description: Paginated list of containers
      operationId: list-containers
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Search query
        explode: false
        in: query
        name: search
        required: false
        schema:
          description: Search query
          type: string
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: sort
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction
        explode: false
        in: query
        name: order
        required: false
        schema:
          default: asc
          description: Sort direction
          type: string
        style: form
      - description: Start index
        explode: false
        in: query
        name: start
        required: false
        schema:
          default: 0
          description: Start index
          format: int64
          type: integer
        style: form
      - description: Limit
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Limit
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List containers
      tags:
      - Containers
    post:
      operationId: create-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerCreatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create container
      tags:
      - Containers
  /environments/{id}/containers/counts:
    get:
      operationId: container-status-counts
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerStatusCountsResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Container status counts
      tags:
      - Containers
  /environments/{id}/containers/{containerId}:
    delete:
      operationId: delete-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID
          type: string
        style: simple
      - description: Force delete running container
        explode: false
        in: query
        name: force
        required: false
        schema:
          default: false
          description: Force delete running container
          type: boolean
        style: form
      - description: Remove associated volumes
        explode: false
        in: query
        name: volumes
        required: false
        schema:
          default: false
          description: Remove associated volumes
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerActionResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete container
      tags:
      - Containers
    get:
      operationId: get-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerDetailsResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get container
      tags:
      - Containers
  /environments/{id}/containers/{containerId}/restart:
    post:
      operationId: restart-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerActionResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Restart container
      tags:
      - Containers
  /environments/{id}/containers/{containerId}/start:
    post:
      operationId: start-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerActionResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Start container
      tags:
      - Containers
  /environments/{id}/containers/{containerId}/stop:
    post:
      operationId: stop-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerActionResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Stop container
      tags:
      - Containers
  /environments/{id}/containers/{containerId}/update:
    post:
      description: Pull the latest image and recreate a specific container
      operationId: update-container
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Container ID to update
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          description: Container ID to update
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update a single container
      tags:
      - Updater
      - Containers
  /environments/{id}/deployment:
    get:
      description: Get Docker run and compose snippets for environment deployment
      operationId: getDeploymentSnippets
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseDeploymentSnippet'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get deployment snippets
      tags:
      - Environments
  /environments/{id}/heartbeat:
    post:
      description: Update the heartbeat timestamp for an environment
      operationId: updateHeartbeat
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update environment heartbeat
      tags:
      - Environments
  /environments/{id}/image-updates/check:
    get:
      operationId: check-image-update
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Image reference
        explode: false
        in: query
        name: imageRef
        required: false
        schema:
          description: Image reference
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check image update by reference
      tags:
      - Image Updates
  /environments/{id}/image-updates/check-all:
    post:
      operationId: check-all-images
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageupdateCheckAllImagesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseBatchResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check all images
      tags:
      - Image Updates
  /environments/{id}/image-updates/check-batch:
    post:
      operationId: check-multiple-images
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageupdateBatchImageUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseBatchResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check multiple images
      tags:
      - Image Updates
  /environments/{id}/image-updates/check/{imageId}:
    get:
      operationId: check-image-update-by-id
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          description: Image ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check image update by ID
      tags:
      - Image Updates
    post:
      operationId: check-image-update-by-id-post
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          description: Image ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check image update by ID (POST)
      tags:
      - Image Updates
  /environments/{id}/image-updates/summary:
    get:
      operationId: get-update-summary
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseSummary'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get update summary
      tags:
      - Image Updates
  /environments/{id}/images:
    get:
      description: Get a paginated list of Docker images
      operationId: list-images
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Search query
        explode: false
        in: query
        name: search
        required: false
        schema:
          description: Search query
          type: string
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: sort
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction (asc or desc)
        explode: false
        in: query
        name: order
        required: false
        schema:
          default: asc
          description: Sort direction (asc or desc)
          type: string
        style: form
      - description: Start index for pagination
        explode: false
        in: query
        name: start
        required: false
        schema:
          default: 0
          description: Start index for pagination
          format: int64
          type: integer
        style: form
      - description: Number of items per page
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Number of items per page
          format: int64
          type: integer
        style: form
      - description: Filter by in-use status (true/false)
        explode: false
        in: query
        name: inUse
        required: false
        schema:
          description: Filter by in-use status (true/false)
          type: string
        style: form
      - description: Filter by update availability (true/false)
        explode: false
        in: query
        name: updates
        required: false
        schema:
          description: Filter by update availability (true/false)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List images
      tags:
      - Images
  /environments/{id}/images/counts:
    get:
      description: "Get counts of images in use, unused, total, and total size"
      operationId: get-image-usage-counts
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUsageCountsResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get image usage counts
      tags:
      - Images
  /environments/{id}/images/prune:
    post:
      description: Remove unused Docker images
      operationId: prune-images
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Only remove dangling images
        explode: false
        in: query
        name: dangling
        required: false
        schema:
          description: Only remove dangling images
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PruneImagesInputBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponsePruneReport'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Prune unused images
      tags:
      - Images
  /environments/{id}/images/pull:
    post:
      description: Pull a Docker image from a registry with streaming progress output
      operationId: pull-image
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePullOptions'
        required: true
      responses:
        "200":
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Pull an image
      tags:
      - Images
  /environments/{id}/images/upload:
    post:
      description: Upload a Docker image from a tar archive
      operationId: upload-image
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_image_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseLoadResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Upload an image
      tags:
      - Images
  /environments/{id}/images/{imageId}:
    delete:
      description: Remove a Docker image by ID
      operationId: remove-image
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          description: Image ID
          type: string
        style: simple
      - description: Force removal
        explode: false
        in: query
        name: force
        required: false
        schema:
          description: Force removal
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Remove an image
      tags:
      - Images
    get:
      description: Get a Docker image by its ID
      operationId: get-image
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          description: Image ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseDetailSummary'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get image by ID
      tags:
      - Images
  /environments/{id}/networks:
    get:
      operationId: list-networks
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - explode: false
        in: query
        name: "pagination[page]"
        required: false
        schema:
          default: 1
          format: int64
          type: integer
        style: form
      - explode: false
        in: query
        name: "pagination[limit]"
        required: false
        schema:
          default: 20
          format: int64
          type: integer
        style: form
      - explode: false
        in: query
        name: "sort[column]"
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: query
        name: "sort[direction]"
        required: false
        schema:
          default: asc
          type: string
        style: form
      - description: Filter by in-use status (true/false)
        explode: false
        in: query
        name: inUse
        required: false
        schema:
          description: Filter by in-use status (true/false)
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List networks
      tags:
      - Networks
    post:
      operationId: create-network
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkCreatedApiResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create network
      tags:
      - Networks
  /environments/{id}/networks/counts:
    get:
      operationId: network-counts
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkCountsApiResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Network counts
      tags:
      - Networks
  /environments/{id}/networks/prune:
    post:
      operationId: prune-networks
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkPruneResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Prune networks
      tags:
      - Networks
  /environments/{id}/networks/{networkId}:
    delete:
      operationId: delete-network
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Network ID
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          description: Network ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkMessageApiResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete network
      tags:
      - Networks
    get:
      operationId: get-network
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Network ID
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          description: Network ID
          type: string
        style: simple
      - explode: false
        in: query
        name: "sort[column]"
        required: false
        schema:
          default: name
          type: string
        style: form
      - explode: false
        in: query
        name: "sort[direction]"
        required: false
        schema:
          default: asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInspectApiResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get network
      tags:
      - Networks
  /environments/{id}/notifications/apprise:
    get:
      operationId: get-apprise-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationAppriseResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get Apprise settings
      tags:
      - Notifications
    post:
      operationId: create-or-update-apprise-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationAppriseUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationAppriseResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create or update Apprise settings
      tags:
      - Notifications
  /environments/{id}/notifications/apprise/test:
    post:
      operationId: test-apprise-notification
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Test Apprise notification
      tags:
      - Notifications
  /environments/{id}/notifications/settings:
    get:
      operationId: get-all-notification-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NotificationResponse'
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get all notification settings
      tags:
      - Notifications
    post:
      operationId: create-or-update-notification-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create or update notification settings
      tags:
      - Notifications
  /environments/{id}/notifications/settings/{provider}:
    delete:
      operationId: delete-notification-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          description: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Delete notification settings
      tags:
      - Notifications
    get:
      operationId: get-notification-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          description: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get notification settings by provider
      tags:
      - Notifications
  /environments/{id}/notifications/test/{provider}:
    post:
      operationId: test-notification
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          description: Provider
          type: string
        style: simple
      - explode: false
        in: query
        name: type
        required: false
        schema:
          default: simple
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Test notification
      tags:
      - Notifications
  /environments/{id}/projects:
    get:
      description: Get a paginated list of Docker Compose projects
      operationId: list-projects
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Search query
        explode: false
        in: query
        name: search
        required: false
        schema:
          description: Search query
          type: string
        style: form
      - description: Column to sort by
        explode: false
        in: query
        name: sort
        required: false
        schema:
          description: Column to sort by
          type: string
        style: form
      - description: Sort direction (asc or desc)
        explode: false
        in: query
        name: order
        required: false
        schema:
          default: asc
          description: Sort direction (asc or desc)
          type: string
        style: form
      - description: Start index for pagination
        explode: false
        in: query
        name: start
        required: false
        schema:
          default: 0
          description: Start index for pagination
          format: int64
          type: integer
        style: form
      - description: Number of items per page
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: Number of items per page
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPaginatedResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List projects
      tags:
      - Projects
    post:
      description: Create a new Docker Compose project
      operationId: create-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateProject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseCreateReponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create a project
      tags:
      - Projects
  /environments/{id}/projects/counts:
    get:
      description: "Get counts of running, stopped, and total projects"
      operationId: get-project-status-counts
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseStatusCounts'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get project status counts
      tags:
      - Projects
  /environments/{id}/projects/{projectId}:
    get:
      description: Get a Docker Compose project by ID
      operationId: get-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseDetails'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get a project
      tags:
      - Projects
    put:
      description: Update a Docker Compose project configuration
      operationId: update-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateProject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseDetails'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update a project
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/destroy:
    delete:
      description: Destroy a Docker Compose project and optionally remove files/volumes
      operationId: destroy-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDestroy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Destroy a project
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/down:
    post:
      description: Bring down a Docker Compose project (docker-compose down)
      operationId: down-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Bring down a project
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/includes:
    put:
      description: Update an include file within a Docker Compose project
      operationId: update-project-include
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateIncludeFile'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseDetails'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update project include file
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/pull:
    post:
      description: Pull all images for a Docker Compose project with streaming progress
        output
      operationId: pull-project-images
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Pull project images
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/redeploy:
    post:
      description: Redeploy a Docker Compose project (down + up)
      operationId: redeploy-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Redeploy a project
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/restart:
    post:
      description: Restart all containers in a Docker Compose project
      operationId: restart-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Restart a project
      tags:
      - Projects
  /environments/{id}/projects/{projectId}/up:
    post:
      description: Deploy a Docker Compose project (docker-compose up)
      operationId: deploy-project
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          description: Project ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Deploy a project
      tags:
      - Projects
  /environments/{id}/settings:
    get:
      description: Get all settings for an environment
      operationId: get-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SettingsPublicSetting'
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get settings
      tags:
      - Settings
    put:
      description: Update settings for an environment
      operationId: update-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseListSettingDto'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update settings
      tags:
      - Settings
  /environments/{id}/settings/public:
    get:
      description: Get all public settings for an environment
      operationId: get-public-settings
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SettingsPublicSetting'
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get public settings
      tags:
      - Settings
  /environments/{id}/sync-registries:
    post:
      description: Sync container registries to a remote environment
      operationId: syncEnvironmentRegistries
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Sync container registries
      tags:
      - Environments
  /environments/{id}/system/containers/start-all:
    post:
      description: Start all Docker containers
      operationId: start-all-containers
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseActionResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Start all containers
      tags:
      - System
  /environments/{id}/system/containers/start-stopped:
    post:
      description: Start all stopped Docker containers
      operationId: start-all-stopped-containers
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseActionResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Start all stopped containers
      tags:
      - System
  /environments/{id}/system/containers/stop-all:
    post:
      description: Stop all running Docker containers
      operationId: stop-all-containers
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseActionResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Stop all containers
      tags:
      - System
  /environments/{id}/system/convert:
    post:
      description: Convert a docker run command to docker-compose format
      operationId: convert-docker-run
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertDockerRunRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertDockerRunResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Convert docker run command
      tags:
      - System
  /environments/{id}/system/docker/info:
    get:
      description: Get Docker daemon version and system information
      operationId: get-docker-info
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DockerinfoInfo'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get Docker info
      tags:
      - System
  /environments/{id}/system/health:
    head:
      description: Check if the Docker daemon is responsive
      operationId: system-health
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check system health
      tags:
      - System
  /environments/{id}/system/prune:
    post:
      description: "Remove unused Docker resources (containers, images, volumes, networks)"
      operationId: prune-all
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemPruneAllRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponsePruneAllResult'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Prune Docker resources
      tags:
      - System
  /environments/{id}/system/upgrade:
    post:
      description: Trigger a system upgrade
      operationId: trigger-upgrade
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseMessageResponse'
          description: Accepted
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Trigger system upgrade
      tags:
      - System
  /environments/{id}/system/upgrade/check:
    get:
      description: Check if a system upgrade is available
      operationId: check-upgrade
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeCheckResultData'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Check for system upgrade
      tags:
      - System
  /environments/{id}/test:
    post:
      description: Test connectivity to a Arcane environment
      operationId: testConnection
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Environment ID
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentTestConnectionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseApiResponseTest'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Test environment connection
      tags:
      - Environments
  /environments/{id}/updater/history:
    get:
      description: Get the history of update operations
      operationId: get-updater-history
      parameters:
      - description: Environment ID
        explode: false
        in: path
[...]
